# Entornos virtuales
venv/
ENV/
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Archivos temporales
*.log
*.tmp
*.swp
.DS_Store

# Configuración de VS Code
.vscode/
